<!DOCTYPE html>
<html>
<head>
    <title>API Response</title>
</head>
<body>
    <h1>API Response:</h1>
    <ul>
        {% for item in games %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
